<ol>
  <li>
    <%= link_to 'Bullet', task1_path %> / <%= link_to 'Questions', task1_questions_path %>
  </li>
  <li>
    <%= link_to 'rack-mini-profiler', task2_path %> / <%= link_to 'Questions', task2_questions_path %>
  </li>
</ol>
