<ol>
  <li>Why eager loading is reducing the memory footprint?</li>
  <li>Will our solution work for bigger datasets?</li>
  <li>Will <strong>find_each</strong> increase performance? Explain why.</li>
  <li>What is the retained memory?</li>
</ol>
