<p>Number of rooms with more than 20 square meters: <%= @result1 %></p>
<p>Number of furnished rooms with more than 40 square meters: <%= @result2 %></p>
<p>Number of residences with a room that has more than 50 square meters: <%= @result3 %></p>
