<ol>
  <li>What's the difference between <strong>eager_load</strong> and <strong>includes</strong>?</li>
  <li>Can <strong>joins</strong> be used for eager loading?</li>
  <li>Is it possible to eagerly load a <strong>belongs_to</strong> association?</li>
  <li>How can we configure <strong>bullet</strong> to make sure that everyone in a team will be using it?</li>
</ol>
